@import url("https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap");

.most-commented-box {
  float: left !important;
  border: 2px solid gray;
  border-radius: 25px;
  margin-left: 30px;
}

.most-commented-box > h1 {
  color: #199419;
  font-weight: bold;
  font-family: "Aguafina Script", cursive;
}
