.recently-created-posts > h1 {
  color: #199419;
  font-weight: bold;
  font-family: "Aguafina Script", cursive;
}

.recently-created-posts {
  padding: 10px;
  float: left !important;
  border: 2px solid gray;
  border-radius: 25px;
  margin-left: 30px;
}

.recently-created-title{
  font-size: 26px !important;
}
