@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

.posts-container {
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    position: relative;
    margin-bottom: 40px;
    margin-top: 120px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
  }
  
  .commented-posts-container {
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    position: relative;
    margin-bottom: 40px;
    margin-top: 120px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
  }
  
  .commented-posts-container .commented-posts-box {
    margin-left: 0;
    margin-right: 0;
  }
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .user-info-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .user-avatar {
    margin-right: 20px;
  }
  
  .user-avatar img {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    border-radius: 50%;
  }
  
  .posts-and-comments {
    display: flex;
    width: 100%; 
  }
  
  .posts-container,
  .commented-posts-container {
    flex: 1;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 10px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .section-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .post-list,
  .comment-list {
    list-style: none;
    padding: 0;
  }
  
  .post-item,
  .comment-item {
    margin-bottom: 10px;
  }
  
  .post-container,
  .comment-container {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .post-title,
  .comment-title {
    font-size:50px;
    margin-bottom: 10px;
    font-family: "Oswald", sans-serif;
  }
  
  .post-content,
  .comment-content {
    font-size: 30px;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .handle{
    font-size: 50px;
    color: bisque
  }
