.search-tags-menu {
  display: flex;
  flex-direction: row;
margin-left: 50px;
}

.search-tags-menu > h3 {
  font-size: 1.2rem;
  margin: 0.3rem 0;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  background-color: transparent;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 4px 4px 60px rgba(255, 255, 255, 0.3);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  width: fit-content;
}

.search-tags-menu > h3:hover {
  color: rgb(207, 207, 195);
  background-color: rgba(54, 53, 35, 0.329);
}

.search-tags-menu > li {
  list-style: none;
  width: fit-content;
  margin: 0.3rem 0;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 4px 4px 60px rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 0.9rem;
  margin-right: 0.5rem;
  /* color: rgb(207, 207, 195); */
}
