.image-by-result {
  width: 400px;
  height:300px;
  border-radius: 7px;
}

.image-by-result-div {
  display: inline-block;
}

.website-link, .google-maps-link{
  border: 2px solid rgb(16, 110, 192);
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
}

.signle-result-place {
  display: inline-block;
  margin-right: 20px;
}

/* .all-results {
  display: grid;
} */