@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Protest+Revolution&display=swap');


.App {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background: url('../images/Background-Final.jpg') !important;
  /* font-family: "Protest Revolution", sans-serif; */
  font-family: "Dancing Script", cursive;
  font-weight: bold
}

h1 {
  font-size: 35px !important;
}

h2 {
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
}

a {
  text-decoration: none !important;
}


